apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  ASPNETCORE_ENVIRONMENT: "Production"
  ASPNETCORE_URLS: "http://+:8080"
  ConnectionStrings__Default: "Host=postgres-service;Port=5432;Database=people_db;Username=postgres;Password=$(DB_PASSWORD)"
