apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: people-api:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          # env:
          #   - name: ASPNETCORE_ENVIRONMENT
          #     value: Production
          #   - name: ASPNETCORE_URLS
          #     value: http://+:8080
          #   - name: ConnectionStrings__Default
          #     value: Host=postgres-service;Port=5432;Database=people_db;Username=postgres;Password=postgres
          envFrom:
            - configMapRef:
                name: backend-config
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-db-secret
                  key: DB_PASSWORD
