apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    http {
      server {
        listen 80;

        location / {
          proxy_pass http://frontend:80;
        }

        # Backend API
        location /api/ {
          proxy_pass http://backend:8080;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }
      }
    }
