name: CD - Deploy to Dev

on:
  workflow_run:
    workflows: ["CI - Build & Push Images"]
    types: [completed]

  workflow_dispatch:

jobs:
  deploy-dev:
    if: >
      github.event_name == 'workflow_dispatch' ||
      github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/checkout@v4

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" | base64 -d > kubeconfig
          echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV

      - name: Deploy via Helm
        run: |
          helm upgrade --install people ./HelmHandsOn/people-stack \
            -n ${{ secrets.OPENSHIFT_NAMESPACE }} \
            -f HelmHandsOn/people-stack/values-dev.yaml \
            --set frontend.image.tag=${{ github.event.workflow_run.head_sha }} \
            --set backend.image.tag=${{ github.event.workflow_run.head_sha }}
