name: CI - Build & Push Images

on:
  push:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: writes

    outputs:
      image_tag: ${{ steps.meta.outputs.tag }}

    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        id: meta
        run: echo "tag=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Backend
        run: |
          docker build -t ghcr.io/krishnakanthr660/devops/people-api:${{ steps.meta.outputs.tag }} \
            ./backend/ContactApi
          docker push ghcr.io/krishnakanthr660/devops/people-api:${{ steps.meta.outputs.tag }}

      - name: Build & Push Frontend
        run: |
          docker build -t ghcr.io/krishnakanthr660/devops/people-ui:${{ steps.meta.outputs.tag }} \
            ./frontend/contact-ui
          docker push ghcr.io/krishnakanthr660/devops/people-ui:${{ steps.meta.outputs.tag }}
